*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0
    ;
}
body{
    background-color: gray !important;
    width: 100%;
    height: 100%;
}
nav{
    background-color: rgb(148, 54, 54) !important;
    margin: 0px;
}
.pokedex-search{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}
.d-flex{
    width: 20rem;
    margin: 4rem;
}
.card{
    padding: 7px;
    background-color: #9ba700 !important;
    color: black !important;
}
.descript{
    margin: 0px 1rem !important;
    border-bottom: 2px solid rgb(34, 34, 34);
}
.card ul{
    border: none !important;
    margin: 0px 2rem !important;
}
.card ul li {
    background-color: inherit;
    border-color: rgb(87, 92, 38);
    color: black;
    
}
#image{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 287px;
    background-image: url("./images/pokemon-bg.PNG");
    background-size: cover;
    border: 2px solid #473499;
}
.card #image img{
    border-radius: 10px;
    max-height: 287px;
    height: 30rem;
    object-fit: contain;
}
.linktl{
    border-top: 2px solid rgb(34, 34, 34);
    margin: 0px 1rem !important;
}
.card-link{
    color: black;
}